<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Criar Nova Parceria</div>
			<div class="panel-body no-bottom">
			<input type="hidden" id="id_parceria" name="id_parceria" value="<%=(item ? item.id_parceria : 0) %>" />
				
				<div class="form-group">
					<label for="id_empresa">Nome da empresa parceira</label>
          <select id="id_empresa" name="id_empresa" class="form-control" size="1">
            <option value="">SELECIONE...</option>
            <% for (var i = 0; i < empresas.length; i++) { %>
            <option value="<%=empresas[i].id_empresa %>" <%=(item && item.id_empresa == empresas[i].id_empresa ? 'selected="selected"' : '')%>><%=empresas[i].nome_empresa %></option>
            <% } %>
          </select>
				</div>

        <div class="form-group">
          <label for="id_solucao">Soluções</label>
            <select id="id_solucao" name="id_solucao" class="form-control" size="1">
             <option value="">SELECIONE...</option>
             <% for (var i = 0; i < solucoes.length; i++) { %>
             <option value="<%=solucoes[i].id_solucao %>" <%=(item && item.id_solucao == solucoes[i].id_solucao ? 'selected="selected"' : '')%>><%=solucoes[i].nome_solucao %></option>
             <% } %>
            </select>
        </div>

        <div class="form-group">
          <label for="id_pursuit_team">Time responsável pela parceria</label>
          <select id="id_pursuit_team" name="id_pursuit_team" class="form-control" size="1">
            <option value="">SELECIONE...</option>
             <% for (var i = 0; i < times.length; i++) { %>
             <option value="<%=times[i].id_pursuit_team %>" <%=(item && item.id_pursuit_team == times[i].id_pursuit_team ? 'selected="selected"' : '')%>><%=times[i].nome_pursuit_team %></option>
             <% } %>
            </select>
        </div>
        
        <div class="form-group">
          <label for="valorAgregado">Valor agregado ao negócio</label>
          <textarea class="form-control" rows="5"  id="valor_agregado_parceria" name="valor_agregado_parceria" spellcheck="true"><%=(item ? item.valor_agregado_parceria : '') %></textarea>
        </div>

      </div>
			<div class="panel-footer">
				<input value="Criar" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			empresa: {
				require: true
			},

			solucao: {
				required: true
			},

			pursuitTeam: {
				required: true
			},

			valorAgregado: {
				maxlength: 250
			},
		},


		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if(item) { %>

			JsonWebApi.postFormData("/api/parceria/alterar", form, function (response) {
				if (response.success)
					Notification.success("Parceria alterado com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>
			
			JsonWebApi.postFormData("/api/parceria/criar", form, function (response) {
				if (response.success) {
					form.reset();
					$("#form").validate().resetForm();
					Notification.success("Parceria criada com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>